@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<TP2.Models.Enfant>;
 

<div class="row mt-5">
    <div class="col text-center text-uppercase">
        <h2>YOUR FAVOURITE CARS</h2>
    </div>
</div>

<div class="row mt-5">
    <p class="fav">VOUS AVEZ<span style="color: red;"> @Model.Count() </span>MODÈLES FAVORIS!</p>
</div>

<div class="row mt-5">
    <table class="table-striped table">
        <thead style="background-color: gray;">
            <tr><th>IMAGE</th><th>MODÈLE</th><th>MARQUE</th><th>KILOMETRAGE</th><th></th></tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>   <img class="img-fluid" style="width: 200px;" src="@(item.ImageURL)" alt="Image du véhicule"></td>
                    <td> <a href="~/enfant/detail/@(item.Id)" style="text-decoration: none; color: black;">@item.Nom</a></td>
                    <td>@item.Parent.Nom</td>
                    <td>@item.Km km</td>
                    <td>
                        <form action="~/favoris/SupprimerUnEnfant" method="post">
                            <input type="hidden" name="id" value="@item.Id">
                            <button type="submit" class="btn btn-danger">Remove &nbsp;&nbsp;<i class="fa-sharp fa-solid fa-trash"></i> </button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
