@model Enfant

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer une voiture</h1>

<h3>Êtes-vous certain de vouloir supprimer ?</h3>
<div>
    <h4>Enfant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id) 
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">          
            <img class="img-fluid" src=@Model.ImageURL alt="Photo du véhicule">
        </dd>     
    </dl>
    <form asp-action="Delete">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
    </form>
</div>
